/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de scroll */
    height: 12px; /* Alto de la barra de scroll horizontal */
}

::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2d3748; /* Color al pasar el ratón */
}

::-webkit-scrollbar-track {
    background-color: #e2e8f0; /* Color de la pista */
    border-radius: 10px;
}
